*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "inter", sans-serif;
}
.nav-menu{
    width: 50px;
    height: 50px;
    display: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-size: 20px;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    top: 6%;
    right: 50%;
    transform: translate(50%,-50%);
    border-bottom: 1px solid black;
    /* background-color: aqua; */
}
.header-container span {
    font-weight: 600;
    margin-right: 5px;
    background-color: black;
    color: white;
    padding: 2px 4px;
}
.main-nav ul{
    list-style: none;
    display: inline-block;
    display: flex;
    gap: 30px;
}
.main-nav ul li{
    padding: 13px 10px;
}
.main-nav ul li:hover{
    color: blue;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-section{
  height: 100vh;
  background-image: url(./architect.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section p{
    font-size: 32px;
    background-color: rgba(128, 128, 128, 0.966);
    color: whitesmoke;
    padding: 3px 6px;
}
.main-heading{
    text-align: center;
    margin: 40px;
    letter-spacing: 10px;
    color: blue;
}
.feature{
    display: flex;
    gap: 20px;
    text-align: center;
}
.feature-icon{
    width: 50px;
    color: rgba(0, 0, 255, 0.582);
}
.feature-box{
    text-align: center;
    margin: 30px;
}
.feature-box > *{
   margin-bottom: 10px;
}
.projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 30px;
}
.project-box{
    position: relative;
    overflow: hidden;
}
.project-box img{
    width: 100%;
    height: 100%;
}
.house-name{
    position: absolute;
    background-color:white;
    color: blue;
    width: 100%;
    /* height: 20%; */
    transition: 0.5s;
    font-size: 25px;
    font-weight: 600;
}
.project-box:hover .house-name{
    bottom: 0;
}
.project-box:hover img{
    transform: rotate(5deg);
   
}
/* media for nav */

@media (max-width:500px) {
    .nav-menu{
        display: block;
        cursor: pointer;
    }
    .header-container{
        border-bottom: none;
    }
    .main-nav ul::after{
        content: "";
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent black transparent;
        bottom: 100%;
        right: 15%;
    }
    .main-nav ul li{
        width: 150px ;
        height:50px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-nav ul{
        display: none;
        gap: 0;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.329);
        position: absolute;
        right: 2%;
        top: 100%;
    }
    .main-nav:hover ul{
        display: block;
    }
    .main-nav ul li:not(:last-child){
        border-bottom: 1px solid gray;
    }
   
}
@media (max-width:880px) {
      .feature{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    .projects{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media  (max-width:480px) {
    .projects{
        display: grid;
        grid-template-columns: 1fr  ;
    }
}